body{
   margin: 0px;
}

.header {
    background-color: darkgrey;
    min-height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-content{
 font-size: 30px;
 font-weight: bold;
 padding-right: 10%;

}

.navbar-container{
    background-color: lightgray;
   
    display: flex;
    align-items: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  li {
    float: left;
  }
  

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: black;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .footer-content{
      min-height: 50px;
      background-color: black;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
     
      width: 100%;
      bottom: 0%;
  }

  .img-animation {
    border: 2px solid steelblue;
    position: relative;
    height: 90vh;
    width: 100%;
    animation-name: background;
    animation-delay: 2s;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-size: cover;
    
   
    
  }
  
   @keyframes background {
    0% {
      background-image: url('../Images/Animation/ani1.jpg'); 
    }
    25% {
        background-image: url('../Images/Animation/ani2.png');
      }
      50% {
        background-image: url('../Images/Animation/ani3.jpg');
      }
      75% {
        background-image: url('../Images/Animation/ani4.jpg');
      }
      100% {
        background-image: url('../Images/Animation/ani5.jpg');
      }
  }

  .cart-section{
      display: inline-block;
      border: 2px solid lightgray;
      margin-bottom: 2%;
      margin-right: 2%;
      width: 21%;
    
     
  }

  .rupees{
      display: block;
      color: skyblue;
  }

  .margin {
    margin-left: 1%;
  }
  .add-button{
      background-color:lightblue;
      width: 100%;
      color: orange;
      
  }


  .add-button:active, 
 .addButton:focus 
 {
     border:2px solid rgb(0, 255, 76); /* here configure as your needs */
     background-color: rgb(250, 234, 230);
  }

  img.custom:hover,
img.custom:focus {
  width: 250px;
  height: 400px;
}

.header-padding{
    padding-left: 3%;
}

.section-display{
    display: flex;
}