<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./../css/header.css">
</head>
<body>
<div class="header">
  <span class="header-content">Pharmacy</span>
</div>
<div class="navbar-container">
<ul>
<li><a href="#home">Home</a> </li>
<li class="dropdown"><a href="#OurMedicines" class="dropbtn">Our Medicines</a>
     <div class="dropdown-content">
      <a href="#">Fever</a>
      <a href="#"> Muscle Pains</a>
      <a href="#">Cold and Cough</a>
    </div>
 </li>
<li class="dropdown"><a href="#HealthCare" class="dropbtn">Health Care</a>
      <div class="dropdown-content">
      <a href="#">Baby Care</a>
      <a href="#"> Skin Care</a>
      <a href="#"> Home Care</a>
      <a href="#"> Personal Care</a>
      <a href="#"> Pet Care</a>
    </div>
 </li>
<li> <a href="#LabTest">Lab Test</a> </li>
</ul>
</div>
<div>
<div class="img-animation"> 
</div>
<section>
<h2> Covid Care</h2>
<div class="section-display">
<section class="cart-section margin">
 <h3 class="header-padding">Covid Test Kit </h3>
<img  class="custom" src="../Images/Products/c1.jpg" width="100%" height="100%"/>
<span class="rupees margin">Rs 40</span>
<span class="rupees margin"> Offer price Rs 30/-</span>
 <div><button class="add-button"> Add to cart</button></div>
</section>

<section class="cart-section margin">
 <h3 class="header-padding">Covid Essentials </h3>
<img  class="custom" src="../Images/Products/c2.jpg" width="100%" height="100%"/>
<span class="rupees margin">Rs 240</span>
<span class="rupees margin"> Offer price Rs 170/-</span>
 <div><button class="add-button"> Add to cart</button></div>
</section>

<section class="cart-section margin">
 <h3 class="header-padding">Sanatizer Bottle </h3>
<img  class="custom" src="../Images/Products/c3.jpg" width="100%" height="100%"/>
<span class="rupees margin">Rs 99</span>
<span class="rupees margin"> Offer price Rs 87/-</span>
 <div><button class="add-button"> Add to cart</button></div>
</section>

<section class="cart-section margin">
 <h3 class="header-padding">Mask </h3>

<img  class="custom" src="../Images/Products/c4.jpg" width="100%" height="100%"/>

<span class="rupees margin">Rs 45</span>
<span class="rupees margin"> Offer price Rs 30/-</span>
 <div><button class="add-button"> Add to cart</button></div>
</section>
</div>
</section>
</div>
<footer class="footer-content">@ copyright  only for demostration purpose</footer
</body>
</html>