<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./../css/header.css">
</head>
<body>
<div class="header">
  <span class="header-content">Pharmacy</span>
</div>
<div class="navbar-container">
<ul>
<li><a href="#home">Home</a> </li>
<li class="dropdown"><a href="#OurMedicines" class="dropbtn">Our Medicines</a>
     <div class="dropdown-content">
      <a href="#">Fever</a>
      <a href="#"> Muscle Pains</a>
      <a href="#">Cold and Cough</a>
    </div>
 </li>
<li class="dropdown"><a href="#HealthCare" class="dropbtn">Health Care</a>
      <div class="dropdown-content">
      <a href="#">Baby Care</a>
      <a href="#"> Skin Care</a>
      <a href="#"> Home Care</a>
      <a href="#"> Personal Care</a>
      <a href="#"> Pet Care</a>
    </div>
 </li>
<li> <a href="#LabTest">Lab Test</a> </li>
</ul>
</div>
<div>
<div class="img-animation"> 
</div>
</div>
<footer class="footer-content">@ copyright  only for demostration purpose</footer
</body>
</html>